.P {
  position: fixed;
  bottom: 0;
  z-index: 5;
  font-size: 1em;
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: .1em;
  font-weight: light;
  text-align: center;
}

.A {
  text-decoration: none;
  color: #ccc;
}

.A:hover {
  color: #ffbb2a;
}