p {
  bottom: 0;
  z-index: 5;
  font-size: 1em;
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: .1em;
  font-weight: light;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  color: #ffbb2a;
}