.LandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background-color: #0000007a;
  padding: 2em;
  border-radius: 10px;
  margin-top: 5em;
  box-shadow: 0 0 3px;
}

.P {
  width: 100%;
  font-size: 1.5em;
  color: #e8f3fe;
  letter-spacing: .1em;
}

.Label {
  color: #e8f3fe;
}

.Username {
  font-size: 1.5em;
  padding: .5em;
  text-align: center;
  max-width: 10em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: .5em auto;
  background-color: #e8f3fe;
  color: #214f7b;
  border: none;
  border-radius: 5px;
}

.Username:focus {
  outline: none;
}

.DifficultyDiv {
  max-width: 500px;
  margin: auto;
  margin-right: 84px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.DifficultyDiv p {
  color: #e8f3fe;
}

.Difficulty {
  -webkit-appearance: none;
  width: 250px;
  height: 15px;
  border-radius: 5px;   
  background: #e8f3fe;
  outline: none;
  margin: auto 5em;
}

.Difficulty::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #ff9a2a;
  cursor: pointer;
}

.Difficulty::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff9a2a;
  cursor: pointer;
}