.Letter { 
  font-size: 2em;
  color: #edf7ff;
  text-align: center;
  width: 1.75em;
  padding: 10px;
  margin: 5px;
  border-left: 3px solid #bad2e6;
  border-bottom: 3px solid #97bdda;
  border-radius: 5px;
  background-color: #214f7b;
  box-shadow: 2px -1px 4px #00000038;
  box-sizing: border-box;
  cursor: pointer;
}

.Letter:hover {
  background-color: #123c63;
}

.Guessed {
  color: #aaa;
  background-color: #ccc;
  border-left: none;
  border-bottom: none;
  border-top: 3px solid #6d6d6d7a;
  border-right: 3px solid #6d6d6d7a;
  padding: 10px;
  box-shadow: inset 1px -1px 15px #0000004f;
}

.Guessed:hover {
  background-color: #ccc;
}