.Graphic {
  width: 45%;
  height: 350px;
  min-width: 400px;
  box-sizing: border-box;
  position: relative;
  background-color: transparent;
  z-index: 10;
}

.SnowmanDiv {
  height: 275px;
  width: 175px;
  right: 20px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  z-index: 15;
}

.Snowman {
  background-image: url('../../assets/snowman.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: relative;
}

.Snowman0 {
  background-image: url('../../assets/snowman.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  height: 275px;
  width: 175px;
}

.Snowman1 {
  height: calc(275px * .9);
  width: calc(175px * .9);
}

.Snowman2 {
  height: calc(275px * .8);
  width: calc(175px * .8);
}

.Snowman3 {
  height: calc(275px * .7);
  width: calc(175px * .7);
}

.Snowman4 {
  height: calc(275px * .6);
  width: calc(175px * .6);
}

.Snowman5 {
  height: calc(275px * .5);
  width: calc(175px * .5);
}

.SnowmanMelted {
  height: 100px;
  width: 250px;
  bottom: -20px;
  background-image: url('../../assets/snowman_melted.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: absolute;
}

.PuddleDiv {
  height: 100px;
  width: 175px;
  right: 20px;
  bottom: -5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  z-index: 14;
}

.Puddle {
  background-image: url('../../assets/puddle.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

.Puddle1 {
  height: calc(100px * .50);
  width: calc(175px * .50);
}

.Puddle2 {
  height: calc(100px * .60);
  width: calc(175px * .60);
}

.Puddle3 {
  height: calc(100px * .70);
  width: calc(175px * .70);
}

.Puddle4 {
  height: calc(100px * .80);
  width: calc(175px * .80);
}

.Puddle5 {
  height: calc(100px * .90);
  width: calc(175px * .90);
}

.SunBody {
  height: 133px;
  width: 133px;
  background-image: url('../../assets/sunbody.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 20px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #b35d00;
}

.SunRay {
  height: 237px;
  width: 52px;
  background-image: url('../../assets/sunray.svg');
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  left: 60px;
  top: -52px;
}

.SunRay1 {
  transform: rotate(0deg);
}

.SunRay2 {
  transform: rotate(60deg);
}

.SunRay3 {
  transform: rotate(120deg);
}

.SunRay4 {
  transform: rotate(180deg);
}

.SunRay5 {
  transform: rotate(240deg);
}

.SunRay6 {
  transform: rotate(300deg);
}