.Graphic {
  width: 45%;
  height: 350px;
  min-width: 400px;
  box-sizing: border-box;
  position: relative;
  background-color: transparent;
  z-index: 10;
}

.Snowman {
  height: 275px; /*130px;*/
  width: 175px; /*76px;*/
  right: 20px;
  bottom: 0;
  background-image: url('../../assets/snowman.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: absolute;
}

.SnowmanMelted {
  height: 100px; /*50px;*/
  width: 250px; /*100px;*/
  right: 0;
  bottom: -20px;
  background-image: url('../../assets/snowman_melted.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: absolute;
}

.SunBody {
  height: 133px;
  width: 133px;
  background-image: url('../../assets/sunbody.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 20px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #b35d00;
}

.SunRay {
  height: 237px;
  width: 52px;
  background-image: url('../../assets/sunray.svg');
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  left: 60px;
  top: -52px;
}

.SunRay1 {
  transform: rotate(0deg);
}

.SunRay2 {
  transform: rotate(60deg);
}

.SunRay3 {
  transform: rotate(120deg);
}

.SunRay4 {
  transform: rotate(180deg);
}

.SunRay5 {
  transform: rotate(240deg);
}

.SunRay6 {
  transform: rotate(300deg);
}